<mat-card appearance="outlined" class="product-card mx-auto">
  <img mat-card-image [src]="imageUrl()" alt="Image from design system" class="uik-color-mix-40-bg p-2" style="height: 300px; object-fit: contain;">
  <mat-card-header>
    <mat-card-title>{{product()?.name}}</mat-card-title>
    <mat-card-subtitle>{{product()?.brand}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div style="color: #951cff">
      <mat-icon fontSet="fa" fontIcon="fa-cart-plus"></mat-icon>
      <p>Add to cart</p>
    </div>
    <span class="flex-grow-1"></span>
    <mat-icon >star</mat-icon>
    <mat-icon >help</mat-icon>
    <mat-icon>more_vert</mat-icon>
  </mat-card-actions>
</mat-card>