<mat-sidenav-container uikSidenavLayout>
  <mat-sidenav mode="side" #sidenav
               [opened]="layoutMatchesSmallViewport() === false"
               [mode]="layoutMatchesSmallViewport() ? 'over' : 'side'"
               [fixedInViewport]="layoutMatchesSmallViewport()" fixedTopGap="0">
    <a routerLink="/">
      <uik-sidenav-logo></uik-sidenav-logo>
    </a>

    <mat-nav-list>
      <a uikSidenavNavigationRoute routerLink="/home"
         routerLinkActive="sidenav-item-selected"
         routeLabel="Home">
        <mat-icon>home</mat-icon>
      </a>
      <a href="https://material.angular.io/" target="_blank"
         uikSidenavNavigationRoute
         routeLabel="Angular Material">
        <mat-icon fontSet="fa-brands" fontIcon="fa-angular"></mat-icon>
      </a>
    </mat-nav-list>
    <uik-sidenav-layout-toggle></uik-sidenav-layout-toggle>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
