; begin auth token
//pkgs.dev.azure.com/moovapps/_packaging/moovapps/npm/registry/:username=stephane.janicaud@visiativ.com
//pkgs.dev.azure.com/moovapps/_packaging/moovapps/npm/registry/:_password=RkxEeWVLaDZqa0YxTVlIRTdOMG16N0M3dVdmZGJKcTRzZElkVTFKeW93NGtrVkxiTFZaZEpRUUo5OUJKQUNBQUFBQThGWEpvQUFBU0FaRE8yajFp
; end auth token
