@forward './main-layout';
@forward './page-layout';
@forward './catalog';
@forward './product-detail-dialog';
@forward './basket';
@forward './basket-item';
@forward './payment-form';
@forward './payment-dialog';
