.app-payment-dialog {
  .payment-dialog-content {
    min-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .success-icon {
    color: var(--uik-color-success);
  }
  .error-icon {
    color: var(--uik-color-error);
  }
  .success-icon,
  .error-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    animation: scaleIn 0.3s ease-in-out;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
