@use '@visiativ/uik-core/theme/variables/colors' as colors;

.mat-typography {
  h2 {
    margin-top: 2rem;
  }

  h3 {
    margin-top: 1.5rem;
  }

  h4 {
    margin-top: 1rem;
  }
}

// UIK utility classes
.bg-uik-grey {
  background-color: var(--uik-color-grey-bg);
}
.bg-uik-white {
  background-color: var(--uik-color-white-bg);
}
