<mat-toolbar class="uik-header-medium uik-color-white-bg uik-outlined-bottom">
  @if (layoutMatchesSmallViewport()) {
    <button mat-icon-button (click)="toggleSidenav()" class="me-1">
      <mat-icon aria-label="Toggle sidenav">menu</mat-icon>
    </button>
  }

  <div class="flex-grow-1">
    <uik-toolbar-app-context [appContext]="exampleAppContext" />
  </div>

  <mat-icon class="me-2">star</mat-icon>
  <mat-icon [routerLink]="'/basket'" [matBadge]="basketCount$ | async" class="me-2">shopping_basket</mat-icon>
  <mat-icon class="me-2">help</mat-icon>

  <uik-user-profile-button fullName="Marcus Stanley"></uik-user-profile-button>
</mat-toolbar>