
<mat-dialog-content class="uik-filter-input uik-color-white-bg d-flex align-items-flex-start justify-content-flex-start w-100">
  <img mat-card-image [src]="imageUrl()" alt="Image from design system" class="uik-color-mix-40-bg p-2" style="height: 500px; width: 500px; object-fit: contain;">
  <div>
    <div class="uik-color-white-bg d-flex align-items-flex-start justify-content-space-between">
      <h2 mat-dialog-title>{{product().name}}</h2>
      <button matIconButton aria-label="close dialog" mat-dialog-close style="border: none; background-color: white; color: grey; width: 100%">
        <mat-icon style="border: none;">close</mat-icon>
      </button>
    </div>
    @if (product().tags) {
        @for (tag of product().tags ; track tag) {
          <mat-chip color="primary">
            {{tag}}
          </mat-chip>
        }
    }
    <p>{{product().description}}</p>
    <p color="primary">Warranty: {{product().warranty}}</p>
    @if (specifics()) {
      @for (specific of specifics() ; track specific) {
        <p><span style="font-weight: bold;">{{specific.label}}: </span>{{specific.value}}</p>
      }
    }
    @if (product().offer) {
      <mat-chip class="uik-semantic-chip" color="primary">{{product().offer}}</mat-chip>
    }
    <div>
      @if (product().discount) {
        <span style="color: red; font-size: large;">{{product().discount}} </span>
      }
      <span style="font-size: large; font-weight: bold;">{{formatedPrice()}} €</span>
    </div>
    <mat-dialog-actions>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
