<app-page-layout>
    <mat-card class="p-3 my-5 mx-auto mat-elevation-z0" style="max-width: 625px;">
        <form>
            <h5>Name</h5>
            <div class="d-flex gap-2 pb-2 align-items-start">
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Full name <span class="uik-color-error">*</span></mat-label>
                    <input matInput
                        type="text"
                        placeholder="Full name"
                        aria-label="Name">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Phone number</mat-label>
                    <uik-intl-tel-input [formControl]="telControl"></uik-intl-tel-input>
                    <mat-hint>Example: +33605040302 for a French number.</mat-hint>
                    @if (telControl.hasError('uik_invalid_tel_number')) {
                        <mat-error>{{ telControl.getError('uik_invalid_tel_number_description') }}</mat-error>
                    }
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>email <span class="uik-color-error">*</span></mat-label>
                <input matInput
                    type="text"
                    placeholder="email"
                    aria-label="email">
            </mat-form-field>

            <h5 class="mt-3 mb-1">Delivery Address</h5>

            <mat-form-field appearance="outline" class="w-100 mb-2">
                <mat-label>Address <span class="uik-color-error">*</span></mat-label>
                <input matInput
                    type="text"
                    placeholder="address"
                    aria-label="address">
            </mat-form-field>

            <div class="d-flex gap-2 mb-2">
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>City <span class="uik-color-error">*</span></mat-label>
                    <input matInput
                        type="text"
                        placeholder="city"
                        aria-label="city">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Zip <span class="uik-color-error">*</span></mat-label>
                    <input matInput
                        type="text"
                        placeholder="zip"
                        aria-label="zip">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-50 mb-3">
                <mat-label>Country <span class="uik-color-error">*</span></mat-label>
                <input matInput
                    type="text"
                    placeholder="country"
                    aria-label="country">
            </mat-form-field>

            <h5 class="mb-1">Payment</h5>
            <mat-form-field appearance="outline" class="w-100 mb-2">
                <mat-label>Card number <span class="uik-color-error">*</span></mat-label>
                <input matInput
                    type="number"
                    placeholder="country"
                    aria-label="country">
            </mat-form-field>

            <div class="d-flex gap-2 mb-2">
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>MM/YY <span class="uik-color-error">*</span></mat-label>
                    <input matInput
                        type="number"
                        placeholder="date"
                        aria-label="date">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>CVV <span class="uik-color-error">*</span></mat-label>
                    <input matInput
                        type="number"
                        placeholder="cvv"
                        aria-label="cvv">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Full name <span class="uik-color-error">*</span></mat-label>
                <input matInput
                    type="text"
                    placeholder="Full name"
                    aria-label="Name">
            </mat-form-field>

            <button mat-raised-button type="button" color="primary" class="d-flex justify-content-end align-items-center d-block ms-auto me-0 mt-4" (click)="submitPayment()">
                Submit Payment
            </button>
        </form>
    </mat-card>

    <ng-template #paymentDialog>
        <mat-card class="d-flex justify-content-center align-items-center h-100 p-3">
            <div class="d-flex gap-1 justify-content-center pb-2">
                <uik-bullet></uik-bullet>
                <uik-bullet></uik-bullet>
                <uik-bullet></uik-bullet>
            </div>
            <h5 class="text-center fw-medium">Payment in progress</h5>
        </mat-card>
    </ng-template>

    <ng-template #paymentCompleteDialog>
        <mat-card class="d-flex justify-content-center align-items-center h-100 p-3">
            <mat-icon style="font-size: 40px; width: 40px; height: 40px;" class="uik-color-success mb-2">check_circle</mat-icon>
            <h5 class="text-center fw-medium mb-2">Payment accepted</h5>
            <button mat-raised-button color="primary" routerLink="/home" (click)="backToHome()">Back to home</button>
        </mat-card>
    </ng-template>
</app-page-layout>